@font-face {
  font-family: "Ambit";
  src: url("../assets/fonts/Ambit Regular.woff2") format("woff2");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "Ambit";
  src: url("../assets/fonts/Ambit Bold.woff2") format("woff2");
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: "Ambit";
  src: url("../assets/fonts/Ambit Italic.woff2") format("woff2");
  font-weight: 400; /* Regular Italic */
  font-style: italic;
}

@font-face {
  font-family: "Ambit";
  src: url("../assets/fonts/Ambit Thin.woff2") format("woff2");
  font-weight: 300; /* Thin */
  font-style: normal;
}

@font-face {
  font-family: "Ambit";
  src: url("../assets/fonts/Ambit Black.woff2") format("woff2");
  font-weight: 900; /* Black */
  font-style: normal;
}

/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Ambit", sans-serif;
  background-color: #fef6e4;
  color: #905bb5;
  line-height: 1.6;
  overflow-x: hidden;
}

/* Top Bar */
.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Alineación vertical */
  background-color: #ffcc00;
  height: 8rem;
  padding: 0; /* Quitamos padding global */
  transform: translateY(-100%);
  transition: transform 0.3s ease;
}

.top-bar.show {
  transform: translateY(0);
}

.top-bar .logo img {
  margin-left: 5rem;
  margin-right: 5rem;
  max-width: 100%; /* Ajusta el tamaño de la imagen al tamaño del contenedor */
  height: auto; /* Mantiene la proporción */
  max-height: 5rem; /* Define un tamaño máximo para la imagen */
}

/* Main Navigation en Top Bar */
.main-nav {
  list-style: none;
  display: flex;
  justify-content: center; /* Centra los elementos del menú */
  align-items: center; /* Alineación vertical */
  gap: 2rem; /* Aumentamos el espacio entre los enlaces */
  margin-left: 5rem;
  margin-right: 8rem;
}

.main-nav a {
  color: #905bb5;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.main-nav a:hover {
  color: #ffcc00;
}

/* Landing Page Styles */
#landing {
  position: relative;
  height: 100vh; /* Asegura que ocupe toda la altura de la ventana */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #ffd21f;
  z-index: 10;
  transition: opacity 0.3s ease;
  padding-top: 1rem;
  padding-bottom: 2rem;
  min-height: 100vh; /* Asegura que la sección tenga al menos el 100% de la altura de la ventana */
}

#landing.hide {
  opacity: 0; /* Oculta la landing cuando la top-bar aparece */
}

/* Logo centrado en el centro de la pantalla */
#landing .logo-container {
  display: flex;
  flex-direction: column; /* Coloca los elementos en columna */
  align-items: center; /* Centra el logo y el texto horizontalmente */
  gap: 8rem; /* Define el espacio fijo entre el logo y el texto */
  padding: 8rem; /* Espaciado interno del contenedor */
}

.logo-image {
  max-width: 100%; /* La imagen no puede exceder el 100% del ancho del contenedor */
  max-height: 500px; /* La altura máxima será 500px */
}

/* Main Navigation centrado en la parte inferior del landing */
#landing .main-nav {
  position: absolute;
  bottom: 2rem;
  left: 3rem; /* Distancia desde el borde izquierdo */
  right: 3rem; /* Distancia desde el borde derecho */
  display: flex;
  gap: 2rem;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

#landing .main-nav a {
  color: #905bb5;
  text-decoration: none;
  font-weight: bold;
}

#landing .main-nav a:hover {
  color: #ffcc00;
}

/* Ajuste de la sección de ilustración */
#illustration {
  margin-top: 0; /* Elimina el margen superior si hay alguno */
  padding-top: 0; /* Elimina el padding superior */
}

/* Secciones */
.section {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fef6e4;
  margin-top: 2rem; /* Agrega el espacio de 2rem en la parte superior */
}

h1 {
  margin-top: 0; /* Elimina cualquier margen superior si es necesario */
  font-family: "Ambit", sans-serif;
  font-weight: 900; /* Black */
  font-size: clamp(2.5rem, 5vw, 4rem); /* Tamaño ajustable según la pantalla */
  color: #905bb5; /* Color del texto */
  line-height: 1.2; /* Espaciado entre líneas */
  text-align: center; /* Centrado del texto */
}

h2 {
  font-family: "Ambit", sans-serif;
  font-weight: 900; /* Black */
  font-size: 3rem;
}

h3 {
  font-family: "Ambit", sans-serif;
  font-weight: 700; /* Bold para encabezados */
}

em {
  font-family: "Ambit", sans-serif;
  font-style: italic; /* Para cursiva */
}

small {
  font-family: "Ambit", sans-serif;
  font-weight: 300; /* Thin para texto pequeño */
}

footer {
  background-color: #905bb5;
  color: white;
  text-align: center;
  padding: 10px 0;
}

/* Contenedor de la galería */
.image-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas de igual tamaño */
  gap: 16px; /* Espacio entre las imágenes */
  margin-top: 2rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

/* Imágenes de la galería */
.gallery-image {
  width: 100%;
  height: 100%; /* Asegura que las imágenes tengan altura y ancho iguales */
  object-fit: cover; /* Asegura que la imagen cubra el contenedor sin distorsionarse */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para las imágenes */
  transition: transform 0.3s ease;
}

/* Estilo base de la galería de 3x3 */
.gallery-3x3 {
  display: grid; /* Usamos grid para organizar las imágenes */
  grid-template-columns: repeat(3, 1fr); /* Siempre 3 columnas */
  grid-template-rows: repeat(3, 1fr); /* Siempre 3 filas */
  gap: 16px; /* Espacio entre las imágenes */
  margin-top: 2rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

.gallery-image {
  width: 100%; /* Las imágenes ocupan todo el espacio disponible */
  height: auto; /* Mantienen su proporción */
  object-fit: cover; /* Ajusta la imagen para rellenar el espacio */
  border-radius: 8px; /* Opcional: Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Opcional: Sombra */
}

/* Efecto hover para las imágenes */
.gallery-image:hover {
  transform: scale(1.05); /* Efecto de agrandar al pasar el ratón */
}

/* Estilo base de la galería */
.gallery-two {
  display: flex; /* Alinea las imágenes horizontalmente */
  gap: 16px; /* Espacio entre las imágenes */
  justify-content: center; /* Centra las imágenes horizontalmente */
  align-items: center; /* Asegura que estén alineadas verticalmente */
  margin-top: 2rem; /* Espacio de 2rem respecto al texto superior */
}

/* Estilo de las imágenes */
.gallery-two .gallery-image {
  width: 100%; /* Las imágenes se ajustan al contenedor */
  max-width: 20rem; /* Tamaño máximo de 200px para evitar que sean muy grandes */
  height: auto; /* Mantienen la proporción */
  object-fit: cover; /* Ajusta la imagen para rellenar su espacio */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  margin-bottom: 0;
}

/* Contenedor común para galería y carrusel */
.container {
  margin-left: 5rem;
  margin-right: 5rem;
}

/* Contenedor de la galería */
.image-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas */
  gap: 16px; /* Espacio entre las imágenes */
  margin-top: 2rem;
}

/* Contenedor principal del carrusel de Kirby */
.kirby-carousel {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin-top: 0;
  padding-top: 0;
  width: 100%;
  border-radius: 12px;
}

/* Contenedor de las imágenes del carrusel */
.carousel-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

/* Elementos del carrusel */
.carousel-item {
  flex: 0 0 100%;
  box-sizing: border-box;
}

.carousel-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para las imágenes */
}

/* Estilo para los botones de navegación */
.carousel-prev,
.carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  color: #ff69b4; /* Color rosa de Kirby */
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 30px; /* Tamaño de los símbolos */
  z-index: 1;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Botón "Anterior" */
.carousel-prev {
  left: 20px;
}

/* Botón "Siguiente" */
.carousel-next {
  right: 20px;
}

/* Efecto hover para los botones */
.carousel-prev:hover,
.carousel-next:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

/* Contenedor principal del carrusel de Lollipops */
.lollipop-carousel {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin-top: 0;
  padding-top: 0;
  width: 100%;
  border-radius: 12px; /* Bordes redondeados */
}

/* Contenedor de las imágenes del carrusel */
.carousel-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

/* Elementos del carrusel */
.carousel-item {
  flex: 0 0 100%;
  box-sizing: border-box;
}

.carousel-item img {
  width: 100%;
  height: auto;
  object-fit: cover; /* Las imágenes se ajustan para cubrir el espacio */
  border-radius: 12px; /* Bordes redondeados para las imágenes */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para las imágenes */
}

/* Estilo para los botones de navegación */
.carousel-prev,
.carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  color: #f0a500;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  z-index: 1;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Botón "Anterior" */
.carousel-prev {
  left: 20px;
}

/* Botón "Siguiente" */
.carousel-next {
  right: 20px;
}

/* Efecto hover para los botones */
.carousel-prev:hover,
.carousel-next:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

/* Contenedor principal del carrusel */
.zodiac-carousel {
  position: relative; /* Esto permite posicionar los botones sobre el carrusel */
  display: flex;
  justify-content: center; /* Centra las imágenes del carrusel */
  overflow: hidden; /* Oculta las imágenes que no son visibles */
  margin-top: 0; /* Elimina el margen superior extra */
  padding-top: 0; /* Elimina el padding superior extra */
  width: 100%;
}

/* Contenedor de las imágenes del carrusel */
.carousel-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

/* Elementos del carrusel */
.carousel-item {
  flex: 0 0 100%;
  box-sizing: border-box;
}

.carousel-item img {
  width: 100%;
  height: auto;
  object-fit: cover; /* Asegura que las imágenes cubran el espacio */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo de los botones de navegación */
.carousel-prev,
.carousel-next {
  position: absolute; /* Posiciona los botones sobre el carrusel */
  top: 50%;
  transform: translateY(-50%); /* Centra verticalmente */
  background-color: rgba(121, 121, 121, 0.5);
  color: white;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  font-size: 12px;
  z-index: 1; /* Asegura que los botones estén encima de las imágenes */
  border-radius: 50%; /* Hace los botones redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Botón "Anterior" */
.carousel-prev {
  left: 10px; /* Ubica el botón a la izquierda */
}

/* Botón "Siguiente" */
.carousel-next {
  right: 10px; /* Ubica el botón a la derecha */
}

/* Efecto hover para los botones */
.carousel-prev:hover,
.carousel-next:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

#graphic-design {
  margin-bottom: 0 !important;
}

.contact-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas iguales */
  gap: 2rem; /* Espacio entre columnas */
  align-items: start; /* Alinea los elementos en la parte superior */
  margin-top: 2rem; /* Espacio entre texto y columnas */
  width: calc(100% - 10rem); /* Resta 5rem a cada lado */
  margin-left: 5rem; /* Deja 5rem de margen a la izquierda */
  margin-right: 5rem; /* Deja 5rem de margen a la derecha */
  max-width: 100%; /* Asegura que ocupe todo el ancho disponible */
}

.contact-item {
  background: #fff; /* Fondo blanco */
  padding: 2rem; /* Mayor espaciado interno */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombras suaves */
  display: flex;
  flex-direction: column; /* Asegura que los elementos dentro se apilen en columna */
  gap: 1.5rem; /* Espaciado entre los elementos dentro del contenedor */
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
  max-width: 600px; /* Máximo ancho para el formulario */
}

.contact-item input,
.contact-item textarea {
  width: 100%; /* Asegura que los campos ocupen todo el ancho del contenedor */
  padding: 1rem; /* Espaciado interno para los campos */
  border: 1px solid #ddd; /* Borde suave */
  border-radius: 8px; /* Bordes redondeados */
  font-size: 1rem; /* Tamaño de texto cómodo */
  box-sizing: border-box; /* Incluye el padding en el ancho total */
}

.contact-item button {
  padding: 1rem 2rem; /* Espaciado en el botón */
  color: white;
  background-color: #4a1f80;
  border: none; /* Sin borde */
  border-radius: 8px; /* Bordes redondeados */
  cursor: pointer; /* Apunta como cursor */
  transition: background-color 0.3s ease;
}

.contact-item button:hover {
  background-color: #4a3cdd; /* Color del botón al pasar el mouse */
}

form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.contact-item.instagram-feed {
  padding-top: 2rem; /* Esto agregará espacio encima del contenedor */
  margin-bottom: 2rem;
}

.contact-item.instagram-feed p {
  margin-bottom: 1rem; /* Si quieres agregar más espacio después del texto */
}

.instagram-link {
  display: flex;
  align-items: center;
  gap: 5rem;
  text-decoration: none;
  color: #4a1f80;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.instagram-link:hover {
  color: #ffcc00;
}

.instagram-link i {
  font-size: 1.5rem;
}

#contact {
  padding: 2rem;
  text-align: center;
  background-color: #fef6e4;
  color: #4a1f80;
}

.contact-email {
  display: inline-block;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  background-color: #4a1f80;
  color: #ffcc00;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.contact-email:hover {
  background-color: #ffcc00;
  color: #4a1f80;
}

.elfsight-app-8fb333cc-dc6d-4c38-8b90-d1b7f447849b {
  margin-top: 2rem;
  max-width: 100%;
}

/* Círculo de la flecha */
.scroll-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #905bb5;
  color: #ffcc00;
  border: none;
  border-radius: 50%; /* Hace que el fondo sea circular */
  width: 60px; /* Tamaño del círculo */
  height: 60px; /* Tamaño del círculo */
  display: flex;
  align-items: center; /* Centra el contenido verticalmente */
  justify-content: center; /* Centra el contenido horizontalmente */
  font-size: 1.5rem;
  cursor: pointer;
  opacity: 0; /* Inicialmente está oculto */
  transition: opacity 0.3s, background-color 0.3s;
  transform: rotate(180deg);
}

/* Aparece cuando se hace scroll */
.scroll-btn.show {
  opacity: 1;
}

/* Estilo del SVG */
.scroll-btn svg {
  width: 32px; /* Tamaño de la flecha */
  height: 32px; /* Tamaño de la flecha */
  fill: #e8d5ff; /* Color de la flecha */
  transition: fill 0.3s; /* Transición suave al interactuar */
}

/* Cambio de color al pasar el ratón */
.scroll-btn:hover svg {
  fill: #ffcc00; /* Cambia el color de la flecha al pasar el mouse */
}
